:root {
    /* Colors */
    --color-text: #fff;
    --color-primary: #57bc5e;
    --color-secondary: #196d28;
    --color-dark: #0c470b;
    --color-bg: #042d0d;

    /* Fonts */
    --font-robot: "Roboto";
}
